.bg-scanline {
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0) 50%,
      rgba(0, 0, 0, 0.2) 50%,
      rgba(0, 0, 0, 0.3) 100%
    );
    background-size: 100% 4px;
    animation: scanline 10s linear infinite;
  }
  
  @keyframes scanline {
    0% { background-position: 0 0; }
    100% { background-position: 0 100vh; }
  }
  
  .bg-crt-overlay {
     background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
  }